
<div class="title-container">
<h1>All Bikes</h1>
</div>
<% @bikes.each do |b| %>
    <ul><li><%=link_to b.model, bike_path(b),class: "btn btn-default"%></li>
    <%=b.user.name%></ul></li>
<%end%>

<ul><%= link_to "New Bike", new_bike_path, data: { turbolinks: false },class: "btn btn-default" %></ul>