<div class="title-container">
<h1>Your Ride History</h1>
</div>
<div class="box-for-things">
    <% @user.rides.each do |r| %>
        <br><b><%= r.trail.name %></b>
        <br>Date:<%= r.date %>
        <br>Time:<%= r.time %>
        <br>Experience:<%= r.experience %></ul>
    <%end%>
</div>
